@media (max-width: 700px) {
  /* Component-1 */
  .box {
    width: 20rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .buttons {
    gap: 1rem;
  }

  .button {
    padding: 0.7rem 1rem;
  }

  .sumbit {
    padding: 0.6rem 5rem;
  }
  /* /// */
  /* Component-2 */
  .box-2 {
    width: 20rem;
  }
  .title_ {
    font-size: 1.3rem;
  }

  .text_ {
    font-size: 0.8rem;
  }

  .img-thank {
    width: 9rem;
    height: 6rem;
  }
}

@media (max-width: 450px) {
  /* Component-2 */
  .box-2 {
    width: 18rem;
  }
  .title_ {
    font-size: 1.25rem;
  }

  .text_ {
    font-size: 0.75rem;
  }

  .img-thank {
    width: 8.5rem;
    height: 6rem;
  }
}

@media (max-width: 370px) {
  /* Component-2 */
  .box-2 {
    width: 16rem;
  }
  .title_ {
    font-size: 1.2rem;
  }

  .text_ {
    font-size: 0.73rem;
  }

  .img-thank {
    width: 8rem;
    height: 6rem;
  }
}
